@page "/"

<div class="main">
    <div class="main-center">
        <div class="main-center-row">
            <h2 class="h2-sty">服务商</h2>
            <Divider />
            <RadioGroup Size="large" ButtonStyle="@RadioButtonStyle.Solid" TValue="ServiceType" @bind-Value="ddnsConfig.ServiceName">
                @foreach (ServiceType i in Enum.GetValues(typeof(ServiceType)))
                {
                    <Radio RadioButton Value="i">@i.ToString()</Radio>
                }
            </RadioGroup>
            <Divider />
            <div class="main-center-row-i">
                <div class="row">
                    <label>Id</label>
                </div>
                <Input @bind-Value="ddnsConfig.Id"/>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                    <label>Key</label>
                </div>
                <Input @bind-Value="ddnsConfig.Key" />
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                    <label>TTL</label>
                </div>
                <Select TItem="TTL"
                        TItemValue="uint?"
                        DataSource="@_ttl"
                @bind-Value="ddnsConfig.Ttl"
                        LabelName="@nameof(TTL.Name)"
                        ValueName="@nameof(TTL.Value)"
                        Placeholder="Select a person"
                        DefaultActiveFirstOption="false">
                 </Select>
            </div>
        </div>
        <div class="main-center-row">
            <h2 class="h2-sty">IPV4</h2>
            <Divider />
            <div class="main-center-row-i">
                <div class="row">
                    <label>是否启用</label>
                </div>
                <Switch Checked="true" CheckedChildren="启用" UnCheckedChildren="关闭" @bind-Value="ddnsConfig.IPV4.Enable"/>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                    <label>获取ip方式</label>
                </div>
                <div style="width:100%;padding-left:11px;">
                    <RadioGroup ButtonStyle="@RadioButtonStyle.Solid" TValue="GetType" @bind-Value="ddnsConfig.IPV4.Type">
                        @foreach (GetType i in Enum.GetValues(typeof(GetType)))
                        {
                            <Radio RadioButton Value="i">@i.ToString()</Radio>
                        }
                    </RadioGroup>
                </div>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                </div>
                <div style="width:100%;padding-left:11px;">
                    <Select TItem="NetinterfaceData"
                            TItemValue="Netinterface"
                            DataSource="@V4netinterfaceDatas"
                    @bind-Value="ddnsConfig.IPV4.Netinterface"
                            LabelName="@nameof(NetinterfaceData.Name)"
                            ValueName="@nameof(NetinterfaceData.Netinterface)"
                            DefaultActiveFirstOption="false">
                    </Select>
                </div>
            </div>
            <br />
             <div class="main-center-row-i">
                 <div class="row">
                     <label>Domains</label>
                 </div>
                <TextArea @bind-Value="ddnsConfig.IPV4.Domains" Style="width:100%"/>
             </div>
        </div>
        <div class="main-center-row">
            <h2 class="h2-sty">IPV6</h2>
            <Divider />
            <div class="main-center-row-i">
                <div class="row">
                    <label>是否启用</label>
                </div>
                <Switch Checked="true" CheckedChildren="启用" UnCheckedChildren="关闭" @bind-Value="ddnsConfig.IPV6.Enable"/>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                    <label>获取ip方式</label>
                </div>
                <div style="width:100%;padding-left:11px;">
                    <RadioGroup ButtonStyle="@RadioButtonStyle.Solid" TValue="GetType" @bind-Value="ddnsConfig.IPV6.Type">
                        @foreach (GetType i in Enum.GetValues(typeof(GetType)))
                        {
                            <Radio RadioButton Value="i">@i.ToString()</Radio>
                        }
                    </RadioGroup>
                </div>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                </div>
                <div style="width:100%;padding-left:11px;">
                    <Select TItem="NetinterfaceData"
                            TItemValue="Netinterface"
                            DataSource="@V6netinterfaceDatas"
                            @bind-Value="ddnsConfig.IPV6.Netinterface"
                            LabelName="@nameof(NetinterfaceData.Name)"
                            ValueName="@nameof(NetinterfaceData.Netinterface)"
                            DefaultActiveFirstOption="false">
                    </Select>
                </div>
            </div>
            <br />
            <div class="main-center-row-i">
                <div class="row">
                    <label>Domains</label>
                </div>
                <TextArea Style="width:100%" Value="@ddnsConfig.IPV6.Domains"/>
            </div>
        </div>
    </div>
</div>
